@model ProjectFClean.Models.Housekeeper

@{
    ViewBag.Title = "FClean";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JobEntry - Job Portal Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar Start -->
    <!--<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="~/Home" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
            <h1 class="m-0 text-primary">FClean</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="~/Home" class="nav-item nav-link active"><i class="fa-solid fa-house"></i> </a>

                <div class="nav-item dropdown">
                    <a href="~/Post/Index" class="nav-link "><i class="fa-solid fa-list-check"></i></a>

                </div>

                <a href="~/Contact" class="nav-item nav-link"><i class="fa-solid fa-phone"></i></a>
            </div>
            <a href="" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">LogIn<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>-->
    <!-- Navbar End -->

    <div class="Rent">
        <div class="img-Housekeeper">
            <img src="/img/@(Html.DisplayFor(model => model.HID)).jpg" />
            <div class="Ready">Ready</div>
        </div>

        <div class="Detail">
            <div class="NameHousekeeper">@Html.DisplayFor(model => model.Name)</div>

            <div class="Line"></div>
            <div class="LineService">
                <div class="Service">
                    <div class="NameService">@Html.DisplayFor(model => model.Skill)</div>
            </div>
             <div class="Line"></div>
            </div>
            <div class="Information">Information</div>
            <div class="Description">@Html.DisplayFor(model => model.Discription)</div>
        </div>
        <div class="Rent-right">
            <div class="price">@Html.DisplayFor(model => model.Price) đ/h</div>
            @*<div class="Rate" >
                    <div class="Star" >
                        <div class="Star">
                            <img class="Union"  />
                        </div>
                    </div>
                    <div class="Star" >
                        <div class="Star" >
                            <img class="Union"/>
                        </div>
                    </div>
                    <div class="Star" style="width: 40.24px; height: 38px; top: -0px; justify-content: center; align-items: center; display: inline-flex">
                        <div class="Star" style="width: 40.24px; height: 38px; justify-content: center; align-items: center; display: inline-flex">
                            <img class="Union" style="width: 40.24px; height: 38px" src="https://via.placeholder.com/40x38" />
                        </div>
                    </div>
                    <div class="Star" style="width: 40.24px; height: 38px; top: -0px;   justify-content: center; align-items: center; display: inline-flex">
                        <div class="Star" style="width: 40.24px; height: 38px; justify-content: center; align-items: center; display: inline-flex">
                            <img class="Union" style="width: 40.24px; height: 38px" src="https://via.placeholder.com/40x38" />
                        </div>
                    </div>
                    <div class="Star" style="width: 40.24px; height: 38px;  top: -0px;  justify-content: center; align-items: center; display: inline-flex">
                        <div class="Star" style="width: 40.24px; height: 38px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                            <img class="Star" style="width: 40.24px; height: 38px" src="https://via.placeholder.com/40x38" />
                            <div class="Star" style="width: 20.12px; height: 38px; background: #FFCB45"></div>
                        </div>
                    </div>
                </div>*@
            <div class="BtnDonate">
                <div class="Donate">DONATE</div>
            </div>
            <div class="BtnChat">
                <div class="Chat">CHAT</div>
            </div>
            <div class="BtnRent">
                <div class="Rent-item">RENT</div>
            </div>
        </div>

    </div>
</body>
</html>
<style>
    .Rent {
        display: flex;
        width: 100%;
        gap: 20px;
        padding: 50px 10px;
        height: 600px;
    }
    img {
        width: 288px;
        height: 276px;
        border-radius: 24px;
    }
    .Line{
        width:650px;
        border: 1px solid black;
    }
    .Information {
        color: black;
        font-size: 50px;
        font-family: Inter;
        font-weight: 700;
    }
        .Detail {
            width: 650px;
            height: 416px;
        }
        .NameHousekeeper {
            color: black;
            font-size: 50px;
            font-family: Inter;
            font-weight: 700;
        }
        .Description {
            color: black;
            font-size: 50px;
            font-family: Inter;
            font-weight: 700;
        }

    .NameService {
        text-align: center;
        margin: 20px 0;
        width: 650px;
        height: 40px;
        background-color: black;
        border-radius: 10px;
        color: #fff;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
    }
        .Description {
            color: black;
            font-size: 30px;
            font-family: Inter;
            font-weight: 400;
        }
    .Rent-right {
        width: 320px;
        height: 330px;
        background: white;
        border-radius: 20px;
        border: 1px black solid;
        display:flex;
        flex-wrap: wrap;

    }
        .price {
            width: 343px;
            height: 54px;
            color: #FF0000;
            font-size: 30px;
            font-family: Inter;
            font-weight: 700;
            padding: 5px 10px;
        }

    .Donate {
        margin: 0 35px;
        width: 250px;
        height: 71px;
        background: white;
        border-radius: 20px;
        border: 1px black solid;
        color: black;
        font-size: 40px;
        font-family: Inter;
        font-weight: 700;
        text-align: center;
    }

    .Chat {
        margin: 0 35px;
        width: 250px;
        height: 71px;
        background: white;
        border-radius: 20px;
        border: 1px black solid;
        color: black;
        font-size: 40px;
        font-family: Inter;
        font-weight: 700;
        text-align: center;
    }
    .Rent-item {
        margin: 0 35px;
        width: 250px;
        height: 71px;
        background: #FF0000;
        border-radius: 20px;
        color: white;
        font-size: 40px;
        font-family: Inter;
        font-weight: 700;
        text-align: center;
    }
        .Ready {
            color: #3EC100;
            font-size: 40px;
            font-family: Inter;
            font-weight: 700;
            margin-left:80px;
        }
    </style>